/*MEDIA & MAIN----------------------------------------------------------*/
body{
    background-color: #F9F9F9;
    height: 100%;
    font-family: 'Major Mono Display' !important;
}

#line-up{
    height: 1px;
    width: 500px;
    background-color: #000000;
}

/* Header-------------------------------------------------------------*/
.header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#logo{
    color: #000000;
    font-style: bold;
    font-size: 40px;
}
#button-list{
    width: 500px;
}
#click_completed{
    background-color: #F9F9F9;
    border: 0px;
    font-size: 25px;
    margin-right: 20px;
    font-family: 'Major Mono Display';
    transition: border .2s ease-in-out;
}
#click_all{
    background-color: #F9F9F9;
    border: 0;
    font-size: 25px;
    margin-right: 10px;
    font-family: 'Major Mono Display';
    transition: border .2s ease-in-out;
}
#click_inprocess{
    background-color: #F9F9F9;
    border: 0;
    font-size: 25px;
    font-family: 'Major Mono Display';
    transition: border .2s ease-in-out;
}
/*HEADER ANIMATION-------------------------------------------------*/
#click_completed:hover{
    border: 1px solid #000000;
}
#click_all:hover{
    border: 1px solid #000000;
}
#click_inprocess:hover{
    border: 1px solid #000000;
}

/*CONTENT---------------------------------------------------------*/
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -70px;
    margin: 10%;
}
.task_list{
    position: relative;
    background-color: #F9F9F9;
    height: 50px;
    width: 500px;
    margin-bottom: 10px;

}
.add_text_task{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: start;
    font-size: 13px;
    width: 440px;
    height: 70px;
    color: #000000;
}
.add-list{
    position: relative;
    background-color: #1B1B1B;
    height: 70px;
    width: 500px;
    margin-bottom: 70px;
}
#text-task{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: start;
    font-size: 13px;
    width: 440px;
    height: 50px;
    color: #000000;
}
#button-task-list{
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.click_delete_task{
    position: relative;
    top: -48px;
    left: 460px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    border: 0px;
    background-color: #F9F9F9;
    text-align: center;
    font-family: 'Major Mono Display';
}
.click_confirm_main{
    position: relative;
    border-radius: 20px;
    top: -50px;
    left: 460px;
    width: 25px;
    height: 25px;
    border: 0px;    
    text-align: center;
    align-items: center;
    background-color: #F9F9F9;
    font-family: 'Major Mono Display';
}
.click_confirm_task{
    position: relative;
    border-radius: 20px;
    top: -41px;
    left: 460px;
    width: 20px;
    height: 20px;
    border: 0px;    
    text-align: center;
    align-items: center;
    background-color: #F9F9F9;
    font-family: 'Major Mono Display';
}
/*CONTENT ANIMATION-------------------------------------------------*/

/*FOOTER--------------------------------------------------------*/
.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
}
#list-noumber-task{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-top: 20px;
}
#noumber-list{
    padding-left: 30px;
    text-decoration: none;
    transition: text-decoration .5s ease-in-out;
}
#click-deleteall{
    background-color: #F9F9F9;
    border: 0px;
    font-size: 25px;
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Major Mono Display';
    transition: border .2s ease-in-out;
}
/*FOOTER ANIMATION-------------------------------------------------*/
#noumber-list:hover{
    text-decoration: underline;
}
#click-deleteall:hover{
    border: 1px solid #000000;
}


